* {
    margin: 0;
    padding: 0;
} 

body {
    background-color: #e5e5e5;
    font-family: 'Poppins';
}

.navbar {
    background-color: #2D4A22;
    display: flex;
    justify-content: space-between;
    padding-top: 32px;
    height: 206px;
    padding-left: 8%;
    padding-right: 8%;
}

.list ul {
    display: flex;
    list-style:none;
    align-items: center;
}

.list li {
    padding-right: 32px;
    font-size: 16px;
    color: #FFFFFF;
}

.board {
    display: flex;
    justify-content: space-between;
    padding-top: 32px;
}

.cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -103px;
    padding-left: 8%;
    padding-right: 8%;
    
}

.card-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 25.19px;
    padding-left: 32px;
}

.white-card {
    background-color: #FFFFFF;
    height: 136px;
    width: 352px;
    color: #363F5F;
}

.green-card {
    background-color: #49AA26;
    height: 136px;
    width: 352px;
    color: #FFFFFF;
}

.text-saida {
    color: #969CB2;
}

.value { 
    padding-left: 32px;
    font-size: 36px;
}

.card-icones {
    padding-right: 20.67px;
}

.table {
    font-size: 16px;
    width: 100%;
    color: #969CB2; 
    border-collapse:collapse; 
}

.div-tabela {
    padding-top: 64px;
    padding-left: 8%;
    padding-right: 8%;
}

.table-menu {
    padding-left: 32px;
    height: 64px;
}

.table-itens {
    background-color: #FFFFFF;
    height: 64px;
    color: #363F5F;
    border: 0px;
}

td {
    padding-left: 32px;
}

.saldo-negativo {
    color: #E92929;

}

.saldo-positivo {
    color: #49AA26;
    ;
}

a {
    text-decoration:none;
}

a:hover {
    text-decoration: underline;
    text-decoration-color: #49AA26;
}


