* {
    margin: 0;
    padding: 0;
} 

body {
    margin: 0;
    padding: 0;
    background-color: #e5e5e5;
    box-sizing: content-box;
}

.navbar {
    background-color: #2D4A22;
    display: flex;
    justify-content: space-between;
    padding-top: 32px;
    padding-left: 8%;
    padding-right: 8%;
    height: 206px;
}

.list ul {
    display: flex;
    list-style:none;
    align-items: center;
    line-height: 24px;
}

.list li {
    padding-right: 32px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.board {
    display: flex;
    justify-content: space-between;
    padding-top: 32px;
    padding-left: 160px;
    padding-right: 160px;
}

.cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 8%;
    padding-right: 8%;
    margin-top: -103px;
    font-family: Poppins;
    
}

.white-card {
    background-color: #FFFFFF;
    height: 136px;
    width: 352px;
    color: #363F5F;
}

.card-top{
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    padding-top: 25.19px;
    padding-left: 32px;
}

.green-card {
    background-color: #49AA26;
    height: 136px;
    width: 352px;
    color: #FFFFFF;
}

.text-saida {
    color: #969CB2;
}

.value { 
    padding-left: 32px;
    font-size: 36px;
}

.card-icones {
    padding-right: 20.67px;
}

a {
    text-decoration:none;
}

a:hover {
    text-decoration: underline;
    text-decoration-color: #49AA26;
}


