* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: #312E38;
    display: flex;
    height: 100vh;
    font-family: 'Roboto Slab';
}

.background-image {
    background: url('../img/img-home.png') no-repeat;
    background-size: cover;
    width: 100%;
    flex: 1;
}

.forms {
    color: #999591;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    flex: 1;
}

.form-input {
    display: flex;
    align-items: center;
    border: 1px solid #232129;
    border-color: #232129;
    padding-left: 18px;
    border-radius: 5px;
    margin-bottom: 8px;
    background-color: #232129;
}

.form-input input {
    background: #232129;
    height: 40px;
    margin: 0;
    border: 0;
    font-size: 16px;
    padding-left: 18px;
    font-family: 'Roboto Slab';
}

.button {
    display: flex;
    align-items: center;
    border: 1px solid #FF9000;
    border-radius: 5px;
    background-color: #FF9000;
    height: 40px;
}

button {
    text-align: center;

}

h1 {
    padding-top: 50px;
    padding-bottom: 18px;
    font-size: 24px;
    color: #F4EDE8;
    font-weight: normal;
}