* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab';
}

.container {
    background-color: #312E38;
    display: flex;
    height: 100vh;
}

.background-image-index {
    background: url('../img/img-home.png') no-repeat;
    background-size: cover;
    width: 100%;
    flex: 1;
}

.background-image-cadastro {
    background: url('../img/img-create.png') no-repeat;
    background-size: cover;
    width: 100%;
    flex: 1;
}

.forms {
    color: #999591;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    flex: 1;
}

.form-input {
    display: flex;
    align-items: center;
    border: 1px solid #232129;
    border-color: #232129;
    padding-left: 18px;
    border-radius: 5px;
    margin-bottom: 8px;
    background-color: #232129;
}

.form-input input {
    background: #232129;
    height: 40px;
    width: 300px;
    margin: 0;
    border: 0;
    font-size: 16px;
    padding-left: 18px;
    border-radius: 5px;
    color: #F4EDE8;
}

.form-input:focus, input:focus, select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
} 

.button {
    display: flex;
    align-items: center;
    border-radius: 5px;
    height: 40px;
    padding-top: 24px;
}

button {
    align-items: center;
    border: 1px solid #FF9000;
    border-radius: 5px;
    height: 56px;
    width: 340px;
    background-color: #FF9000;
}

h1 {
    padding-top: 50px;
    padding-bottom: 18px;
    font-size: 24px;
    color: #F4EDE8;
    font-weight: normal;
}

.lost-pass {  
    padding-top: 24px;
}

.back {  
    padding-top: 24px;
    display: flex;
    padding-top: 80px;
    justify-content: center;
}

.back a{
    color: #F4EDE8;
    font-size: 16px;
    font-weight: normal;
    text-decoration: none;
}

.lost-pass a{
    color: #F4EDE8;
    font-size: 16px;
    font-weight: normal;
    text-decoration: none;
}

.lost-pass a:hover {
    color: #b5b1ac;
    text-decoration: none;
}

.create {
    font-size: 16px;
    font-weight: normal;
    padding-top: 60px;
    display: flex;
    justify-content: center;
}

.create a {
    color: #FF9000;
    text-decoration: none;
}

.create a:hover {
    color: #b5b1ac;
    text-decoration: none;
}

.nav {
    display: flex;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 50px;
    justify-content: center;
    align-content: center;
}